@model ElectricalShop.Models.Admin.AddSupplier

@{
    ViewBag.Title = "Thêm nhà cung cấp";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@using (Html.BeginForm("Add", "Supplier", null, FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8 panel-warning">
            <div class="content-box-header panel-heading">
                <div class="panel-title ">@ViewBag.Title</div>
            </div>
            <div class="content-box-large box-with-header">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.ValidationSummary(true)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Tên NCC</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.SupplierName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SupplierName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Mô tả</label>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Địa chỉ</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Điện thoại</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Fax</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Fax, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Website</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Website, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-sm btn-success" style="width:100px;">Lưu</button>
                            <button type="reset" class="btn btn-sm btn-danger" style="width:100px;">Nhập lại</button>
                            @Html.ActionLink("Trở về", "Index", null, new { @style = "width:100px;", @class = "btn btn-sm btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
@section Scripts {
    <script>
        $('.mnu-prod').attr('class', 'submenu mnu-prod open');
    </script>
}