@model ElectricalShop.Models.Admin.Profiler

@{
    ViewBag.Title = "Profiler";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@using (Html.BeginForm("Profiler", "Auth", null, FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8 panel-warning">
            <div class="content-box-header panel-heading">
                <div class="panel-title ">@ViewBag.Title</div>
            </div>
            <div class="content-box-large box-with-header">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(m => m.UserId)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Tên đăng nhập</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Mật khẩu</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Nhập lại mật khẩu</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", @type = "password" })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Họ tên (*)</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Điện thoại</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-primary" style="width:100px;">Lưu</button>
                            <button type="reset" class="btn btn-warning" style="width:100px;">Nhập lại</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
@section Scripts {
    <script>
        $('.mnu-system').attr('class', 'open');
    </script>
}
